@import '../../styles/all.scss';

.c-AuthForm {
  .c-Card {
    width: 100%;
    padding: 80px 0;
    box-shadow: none;

    @include for-desktop {
      width: 600px;
      position: fixed;
      top: 50%;
      transform: translate(0, -50%);
      right: 60px;
      vertical-align: center;
      box-shadow: 0 3px 28px rgba(0, 0, 0, 0.08);
      z-index: 10;
      background: $bright-white;
    }
  }

  .c-Button {
    width: 348px;
  }

  &__container {
    position: relative;
  }

  &__form__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin: 0 auto;

    input {
      @include fontRegular(16px, $alt-text-color);
    }

    .c-Login__email__input {
      padding: 16px 16px;
      width: 348px;
      background: #f6f6f6;
      border: 1px solid rgba(0, 0, 0, 0.1);
      margin-bottom: 40px;
      border-radius: $std-border-radius;
    }

    .ant-input-affix-wrapper {
      padding: 16px 16px;
      width: 348px;
      background: #f6f6f6;
      border: 1px solid rgba(0, 0, 0, 0.1);
      margin-bottom: 40px;
      border-radius: $std-border-radius;
    }

    .c-Login__password__input input {
      background: #f6f6f6;
      height: 100%;
      width: 100%;
    }

    .ant-form-item {
      text-align: center;
    }

    .ant-form-item-label {
      display: none;
    }

    .ant-btn-primary {
      @include fontTitle(16px, $dark-text);
      height: 100%;
      width: 348px;
      border-radius: $std-border-radius;
      cursor: pointer;
      border: none;
      line-height: 16px;
      padding: 16px 24px;
      color: $dark-text;
      background-color: $primary-brand-color;
    }

    .ant-btn-primary[disabled] {
      background: #e0e0e0;
      color: $alt-text-color;
      cursor: not-allowed;
    }
  }
}
